{{- /* prepare variables for function */ -}}
{{- $Page := . -}}
{{- $i18n := index .Data.Store.Specs.I18n .Languages.Current.ID -}}
{{- $dataset := false -}}
{{- $lang := false -}}
{{- $ret := false -}}




{{- /* obtain dataset */ -}}
{{- $dataset = $Page.Data.Store.Specs -}}
{{- range $i, $v := (split $Page.Data.Page.Dataset.Path ".") -}}
	{{- if $dataset -}}
		{{- $dataset = index $dataset $v -}}
	{{- end -}}
{{- end -}}
{{- $dataset = index $dataset.Data $Page.Languages.Current.ID -}}




{{- /* render output */ -}}
<main style='padding-bottom: 0;'>
	<section id='{{- $i18n.Introduction.ID -}}'>
		<h1>{{- .Titles.Page -}}</h1>
		<p>{{- .Descriptions.Page.Pitch }} {{ .Descriptions.Page.Summary -}}</p>
	</section>


	<section id='{{- $i18n.Purposes.ID -}}'>
		<h2>{{- $i18n.Purposes.Title -}}</h2>
		<p>{{- safeHTML $i18n.Purposes.HTML -}}</p>

		{{ range $i, $v := $dataset.Purposes.List }}<section>
			<h3>{{- $v.Title -}}</h3>
			<p>{{- safeHTML $v.HTML -}}</p>

			{{- range $j , $w := $v.URL -}}
				{{- if and (not $w.Value) (not $w.Label) -}}
					{{- continue -}}
				{{- end -}}

				{{- $ret = merge $Page (dict "Input" (dict "Data" $w.Value)) -}}
				{{- $ret = partial "hestiaURL/Sanitize" $ret }}
			<a href='{{- string $ret.Output -}}' class='button'>{{- $w.Label -}}</a>
			{{- end }}

			{{- if $v.Code }}
			<pre>{{- htmlEscape $v.Code -}}</pre>
			{{- end }}

			{{- if $v.Image }}
				{{- $ret = merge $Page (dict "Input" (dict "Data" $v.Image)) -}}
				{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
				{{- $ret = $ret.Output }}
			{{ partial "hestiaMEDIA/ToHTML" $ret }}
			{{- end }}
		</section>{{- end }}
	</section>


	<section id='{{- $i18n.Designs.ID -}}'>
		<h2>{{- $i18n.Designs.Title -}}</h2>
		<p>{{- safeHTML $i18n.Designs.HTML -}}</p>

		{{ range $i, $v := $dataset.Designs.List }}<section>
			<h3>{{- $v.Title -}}</h3>
			<p>{{- safeHTML $v.HTML -}}</p>

			{{- range $j , $w := $v.URL -}}
				{{- if and (not $w.Value) (not $w.Label) -}}
					{{- continue -}}
				{{- end -}}

				{{- $ret = merge $Page (dict "Input" (dict "Data" $w.Value)) -}}
				{{- $ret = partial "hestiaURL/Sanitize" $ret }}
			<a href='{{- string $ret.Output -}}' class='button'>{{- $w.Label -}}</a>
			{{- end }}

			{{- if $v.Code }}
			<pre>{{- htmlEscape $v.Code -}}</pre>
			{{- end }}

			{{- if $v.Image }}
				{{- $ret = merge $Page (dict "Input" (dict "Data" $v.Image)) -}}
				{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
				{{- $ret = $ret.Output }}
			{{ partial "hestiaMEDIA/ToHTML" $ret }}
			{{- end }}

			{{ range $j, $w := $v.SubList }}<section>
				<h4>{{- $w.Title -}}</h4>
				<p>{{- safeHTML $w.HTML -}}</p>

				{{- range $k , $x := $w.URL -}}
					{{- if and (not $x.Value) (not $x.Label) -}}
						{{- continue -}}
					{{- end -}}

					{{- $ret = merge $Page (dict "Input"
						(dict "Data" $x.Value)
					) -}}
					{{- $ret = partial "hestiaURL/Sanitize" $ret }}
				<a href='{{- string $ret.Output -}}'
					class='button'>{{- $x.Label -}}</a>
				{{- end }}

				{{- if $w.Code }}
				<pre>{{- htmlEscape $w.Code -}}</pre>
				{{- end }}

				{{- if $w.Image }}
					{{- $ret = merge $Page (dict "Input"
						(dict "Data" $w.Image)
					) -}}
					{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
					{{- $ret = $ret.Output }}
				{{ partial "hestiaMEDIA/ToHTML" $ret }}
				{{- end }}
			</section>{{- end }}
		</section>{{- end }}
	</section>


	<section id='{{- $i18n.Functions.ID -}}'>
		<h2>{{- $i18n.Functions.Title -}}</h2>
		<p>{{- safeHTML $i18n.Functions.HTML -}}</p>

		{{ if $dataset.Functions.List -}}
		{{ range $i, $v := $dataset.Functions.List }}<section>
			<h3>{{- $v.Title -}}</h3>
			<p>{{- safeHTML $v.HTML -}}</p>

			{{- range $j , $w := $v.URL -}}
				{{- if and (not $w.Value) (not $w.Label) -}}
					{{- continue -}}
				{{- end -}}

				{{- $ret = merge $Page (dict "Input" (dict "Data" $w.Value)) -}}
				{{- $ret = partial "hestiaURL/Sanitize" $ret }}
			<a href='{{- string $ret.Output -}}' class='button'>{{- $w.Label -}}</a>
			{{- end }}

			{{- if $v.Code }}
			<pre>{{- htmlEscape $v.Code -}}</pre>
			{{- end }}

			{{- if $v.Image }}
				{{- $ret = merge $Page (dict "Input" (dict "Data" $v.Image)) -}}
				{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
				{{- $ret = $ret.Output }}
			{{ partial "hestiaMEDIA/ToHTML" $ret }}
			{{- end }}

			{{ range $j, $w := $v.SubList }}<section>
				<h4>{{- $w.Title -}}</h4>
				<p>{{- safeHTML $w.HTML -}}</p>

				{{- range $k , $x := $w.URL -}}
					{{- if and (not $x.Value) (not $x.Label) -}}
						{{- continue -}}
					{{- end -}}

					{{- $ret = merge $Page (dict "Input"
						(dict "Data" $x.Value)
					) -}}
					{{- $ret = partial "hestiaURL/Sanitize" $ret }}
				<a href='{{- string $ret.Output -}}'
					class='button'>{{- $x.Label -}}</a>
				{{- end }}

				{{- if $w.Code }}
				<pre>{{- htmlEscape $w.Code -}}</pre>
				{{- end }}

				{{- if $w.Image }}
					{{- $ret = merge $Page (dict "Input"
						(dict "Data" $w.Image)
					) -}}
					{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
					{{- $ret = $ret.Output }}
				{{ partial "hestiaMEDIA/ToHTML" $ret }}
				{{- end }}
			</section>{{- end }}
		</section>{{- end }}
		{{- else }}
		<p>{{- $i18n.Functions.NoList -}}</p>
		{{- end }}
	</section>


	{{- if (len .Nav.Children) }}
	<section id='{{- $i18n.Catalog.ID -}}'>
		<h2>{{- $i18n.Catalog.Title -}}</h2>
		<p>{{- $i18n.Catalog.Description -}}</p>
		<div class='row'>{{- range $i, $v := .Nav.Children }}
			{{- $dataset = $Page.Data.Store.Specs -}}
			{{- range $j, $w := (split $v.Data.Page.Dataset.Path ".") -}}
				{{- if $dataset -}}
					{{- $dataset = index $dataset $w -}}
				{{- end -}}
			{{- end -}}
			{{- $dataset = index $dataset.Data $Page.Languages.Current.ID }}
			<div class='column'><div class='card'>
				<div class='content'>
					<h3>{{- $dataset.Brand.SKU -}}</h3>
					<p>{{- $dataset.Brand.Description -}}</p>
				</div>
				<div class='actions'>
					<a href='{{- $v.URL.Current.Absolute -}}'
						class='button'>
						{{- $i18n.Catalog.CTA -}}
					</a>
				</div>
			</div></div>
		{{- end }}</div>
	</section>
	{{- end }}


	{{- $ret = merge $Page (dict "Input" (dict "Data"
		"/img/backgrounds/matrix-cube-lorenzo-verzini.svg"
	)) -}}
	{{- $ret = partial "hestiaURL/Sanitize" $ret -}}
	{{- $ret = string $ret.Output -}}
	<section id='{{- $i18n.Epilogue.ID -}}' class='inverted' style='
		margin-top: 10rem;
		background: url({{- $ret -}}),linear-gradient(to top,#010329,#000005)
				no-repeat
				fixed;
		background-position: center center;
		background-size: cover;
		padding-bottom: var(--main-padding-top);
	'>
		<h2>{{- $i18n.Epilogue.Title -}}</h2>
		<p>{{- $i18n.Epilogue.Description -}}</p>
		<br/>
		{{- $ret = merge $Page (dict "Input" (dict "Data" $i18n.Epilogue.URL)) -}}
		{{- $ret = partial "hestiaURL/Sanitize" $ret -}}
		{{- $ret = string $ret.Output -}}
		<a href='{{- $ret -}}' class='button' style='
			--button-color: green;
		'>{{- $i18n.Epilogue.CTA -}}</a>
	</section>
</main>
{{ partial "common/footer.html" $Page }}
{{ partial "common/nav-prime.html" $Page }}
