{{- /* prepare variables for function */ -}}
{{- $SECTIONS := slice "Purposes" "Designs" "Constants" "Variables" "Functions" "Types" -}}
{{- $Page := . -}}
{{- $i18n := index .Data.Store.Specs.I18n .Languages.Current.ID -}}
{{- $datastore := false -}}
{{- $dataset := false -}}
{{- $lang := false -}}
{{- $nav := slice -}}
{{- $ret := false -}}




{{- /* obtain dataset */ -}}
{{- $datastore = $Page.Data.Store.Specs -}}
{{- if $Page.Data.Page.Dataset.Path -}}
	{{- range $i, $v := (split $Page.Data.Page.Dataset.Path ".") -}}
		{{- if $datastore -}}
			{{- $datastore = index $datastore $v -}}
		{{- end -}}
	{{- end -}}
{{- end -}}




{{- /* render output */ -}}
<main style='padding-bottom: 0;'>
	<section id='{{- $i18n.Introduction.ID -}}'>
		{{- $nav = append (dict
			"ID" $i18n.Introduction.ID
			"Label" $i18n.Introduction.Title
		) $nav -}}
		<h1>{{- .Titles.Page -}}</h1>
		<p>{{- .Descriptions.Page.Pitch }} {{ .Descriptions.Page.Summary -}}</p>
	</section>

	{{- range $unused, $type := $SECTIONS -}}
		{{- $lang = index $i18n $type -}}
		{{- $dataset = default dict (index $datastore $type) -}}
		{{- $dataset = index $dataset $Page.Languages.Current.ID -}}

	{{- $nav = append (dict "ID" $lang.ID "Label" $lang.Title) $nav -}}
	<section id='{{- $lang.ID -}}'>
		<h2>{{- $lang.Title -}}</h2>
		<p>{{- safeHTML $lang.HTML -}}</p>

		{{ if $dataset.List -}}
		{{ range $i, $v := $dataset.List }}
			{{- $ret = merge $Page (dict "Input" (dict "Data" $v.Title)) -}}
			{{- $ret = partial "hestiaSTRING/ToID" $ret -}}
			{{- $ret = $ret.Output }}
		<section id='{{- $ret -}}'>
			<h3>{{- $v.Title -}}</h3>
			<p>{{- safeHTML $v.HTML -}}</p>

			{{- range $j , $w := $v.URL -}}
				{{- if and (not $w.Value) (not $w.Label) -}}
					{{- continue -}}
				{{- end -}}

				{{- $ret = merge $Page (dict "Input" (dict "Data" $w.Value)) -}}
				{{- $ret = partial "hestiaURL/Sanitize" $ret }}
			<a href='{{- string $ret.Output -}}' class='button'>{{- $w.Label -}}</a>
			{{- end }}

			{{- if $v.Code }}
			<pre>{{- htmlEscape $v.Code -}}</pre>
			{{- end }}

			{{- if $v.Image }}
				{{- $ret = merge $Page (dict "Input" (dict "Data" $v.Image)) -}}
				{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
				{{- $ret = $ret.Output }}
			{{ partial "hestiaMEDIA/ToHTML" $ret }}
			{{- end }}

			{{ range $j, $w := $v.SubList }}<section>
				<h4>{{- $w.Title -}}</h4>
				<p>{{- safeHTML $w.HTML -}}</p>

				{{- range $k , $x := $w.URL -}}
					{{- if and (not $x.Value) (not $x.Label) -}}
						{{- continue -}}
					{{- end -}}

					{{- $ret = merge $Page (dict "Input"
						(dict "Data" $x.Value)
					) -}}
					{{- $ret = partial "hestiaURL/Sanitize" $ret }}
				<a href='{{- string $ret.Output -}}'
					class='button'>{{- $x.Label -}}</a>
				{{- end }}

				{{- if $w.Code }}
				<pre>{{- htmlEscape $w.Code -}}</pre>
				{{- end }}

				{{- if $w.Image }}
					{{- $ret = merge $Page (dict "Input"
						(dict "Data" $w.Image)
					) -}}
					{{- $ret = partial "hestiaMEDIA/Sanitize" $ret -}}
					{{- $ret = $ret.Output }}
				{{ partial "hestiaMEDIA/ToHTML" $ret }}
				{{- end }}
			</section>{{- end }}
		</section>{{- end }}
		{{- else }}
		<p>{{- $lang.NoList -}}</p>
		{{- end }}
	</section>
	{{- end }}


	{{- if (len .Nav.Children) }}
		{{- $nav = append (dict
			"ID" $i18n.Catalog.ID
			"Label" $i18n.Catalog.Title
		) $nav -}}
	<section id='{{- $i18n.Catalog.ID -}}'>
		<h2>{{- $i18n.Catalog.Title -}}</h2>
		<p>{{- $i18n.Catalog.Description -}}</p>
		<table>
			<thead>
				<tr>
					<th>{{- $i18n.Catalog.Package -}}</th>
					<th>{{- $i18n.Catalog.Details -}}</th>
				</tr>
			</thead>
			<tbody>
				{{- range $i, $v := .Nav.Children }}
					{{- $dataset = $Page.Data.Store.Specs -}}
					{{- range $j, $w := (split $v.Data.Page.Dataset.Path ".") -}}
						{{- if $dataset -}}
							{{- $dataset = index $dataset $w -}}
						{{- end -}}
					{{- end -}}
					{{- $dataset = index $dataset.Metadata
						$Page.Languages.Current.ID }}
				<tr>
					<td><a href='{{- $v.URL.Current.Absolute -}}'>
						<b>{{- $dataset.Brand.SKU -}}</b>
					</a></td>
					<td><p>
						{{- $dataset.Brand.Description -}}
					</p></td>
				</tr>
				{{- end }}
			</tbody>
		</table>
	</section>
	{{- end }}


	{{- $nav = append (dict "ID" $i18n.Epilogue.ID "Label" $i18n.Epilogue.Title) $nav }}
	{{- $ret = merge $Page (dict "Input" (dict "Data"
		"img/backgrounds/matrix-cube-lorenzo-verzini.svg"
	)) -}}
	{{- $ret = partial "hestiaURL/Sanitize" $ret -}}
	{{- $ret = string $ret.Output }}
	<section id='{{- .ID -}}' class='inverted' style='
		margin-top: 10rem;
		background: url({{- $ret -}}),linear-gradient(to top,#010329,#000005)
			no-repeat
			fixed;
		background-position: center center;
		background-size: cover;
		padding-bottom: var(--main-padding-top);
	'>
		<h2>{{- $i18n.Epilogue.Title -}}</h2>
		<p>{{- $i18n.Epilogue.Description -}}</p>
		<br/>
		{{- $ret = merge $Page (dict "Input" (dict "Data" $i18n.Epilogue.URL)) -}}
		{{- $ret = partial "hestiaURL/Sanitize" $ret -}}
		{{- $ret = string $ret.Output }}
		<a href='{{- $ret -}}' class='button' style='
			--button-color: white;
			background: green;
			border: none;
		'>{{- $i18n.Epilogue.CTA -}}</a>
	</section>
</main>
{{ partial "common/footer.html" $Page }}
<nav class='right-drawer'>
	<input id='nav-secondary-drawer' type='checkbox' />
	<label class='trigger' for='nav-secondary-drawer'>
		<span class='open'>§</span>
		<span class='close'>𝖷</span>
	</label>
	<label class='overlay' for='nav-secondary-drawer'></label>


	<div class='content'><div class='row' style='
		margin-top: 6rem;
		--grid-flex-direction: column;
		--grid-gap: 30px;
		--anchor-color: white;
	'>
		{{- range $i, $v := $nav }}
		<div class='column'>
			<a href='#{{- $v.ID -}}'
				onclick='document.getElementById("nav-secondary-drawer").checked = false;'
				class='prestige'>{{- $v.Label -}}</a>
		</div>
		{{- end }}
	</div></div>
</nav>
{{ partial "common/nav-prime.html" $Page }}
