{{- /* prepare variables for function */ -}}
{{- $Page := . -}}
{{- $i18n := .Data.Page.i18n -}}
{{- $lang := false -}}
{{- $ret := false -}}




{{- /* render output */ -}}
<main style='padding-bottom: 0;'>
	<section id='{{- $i18n.Introduction.ID -}}'>
		<h1>{{- .Titles.Page -}}</h1>
		<p>{{- .Descriptions.Page.Pitch }} {{ .Descriptions.Page.Summary -}}</p>
	</section>


	<section id='{{- $i18n.DecentralizedDistribution.ID -}}'>
		<h2>{{- $i18n.DecentralizedDistribution.Title -}}</h2>
		<p>{{- $i18n.DecentralizedDistribution.Description -}}</p>
	</section>


	<section id='{{- $i18n.StreamVsMemory.ID -}}'>
		<h2>{{- $i18n.StreamVsMemory.Title -}}</h2>
		<p>{{- $i18n.StreamVsMemory.Description -}}</p>
	</section>


	<section id='{{- $i18n.MonomorphizeByCPUSize.ID -}}'>
		<h2>{{- $i18n.MonomorphizeByCPUSize.Title -}}</h2>
		<p>{{- $i18n.MonomorphizeByCPUSize.Description -}}</p>
	</section>


	<section id='{{- $i18n.ImportDirection.ID -}}'>
		<h2>{{- $i18n.ImportDirection.Title -}}</h2>
		<p>{{- $i18n.ImportDirection.Description -}}</p>
		<pre>{{- $i18n.ImportDirection.Pattern -}}</pre>
		<p>{{- $i18n.ImportDirection.Example -}}</p>
		<pre>{{- $i18n.ImportDirection.Samples -}}</pre>
	</section>


	<section id='{{- $i18n.NamingConvention.ID -}}'>
		<h2>{{- $i18n.NamingConvention.Title -}}</h2>
		<p>{{- $i18n.NamingConvention.Description -}}</p>
		<pre>{{- $i18n.NamingConvention.Pattern -}}</pre>
		<p>{{- $i18n.NamingConvention.Example -}}</p>
		<pre>{{- $i18n.NamingConvention.Samples -}}</pre>
	</section>


	<section id='{{- $i18n.ErrorCodeNoPanic.ID -}}'>
		<h2>{{- $i18n.ErrorCodeNoPanic.Title -}}</h2>
		<p>{{- $i18n.ErrorCodeNoPanic.Description -}}</p>
	</section>


	<section id='{{- $i18n.UseMacroAvoidGenerics.ID -}}'>
		<h2>{{- $i18n.UseMacroAvoidGenerics.Title -}}</h2>
		<p>{{- $i18n.UseMacroAvoidGenerics.Description -}}</p>
	</section>


	<section id='{{- $i18n.FunctionVsMethod.ID -}}'>
		<h2>{{- $i18n.FunctionVsMethod.Title -}}</h2>
		<p>{{- $i18n.FunctionVsMethod.Description -}}</p>
		<pre>{{- $i18n.FunctionVsMethod.Pattern -}}</pre>
	</section>


	<section id='{{- $i18n.WASMCapable.ID -}}'>
		<h2>{{- $i18n.WASMCapable.Title -}}</h2>
		<p>{{- $i18n.WASMCapable.Description -}}</p>
	</section>


	<section id='{{- $i18n.Catalog.ID -}}'>
		<h2>{{- $i18n.Catalog.Title -}}</h2>
		<p>{{- $i18n.Catalog.Description -}}</p>
		<div class='row'>{{- range $i, $v := .Nav.Children }}
			<div class='column'><div class='card'>
				<div class='content'>
					<h3>{{- $v.Titles.Page -}}</h3>
					<p>{{- $v.Descriptions.Pitch -}}</p>
				</div>
				<div class='actions'>
					<a href='{{- $v.URL.Current.Absolute -}}'
						class='button'>
						{{- $i18n.Catalog.CTA -}}
					</a>
				</div>
			</div></div>
		{{- end }}</div>
	</section>


	{{- $ret = merge $Page (dict "Input" (dict "Data"
		"/img/backgrounds/matrix-cube-lorenzo-verzini.svg"
	)) -}}
	{{- $ret = partial "hestiaURL/Sanitize" $ret -}}
	{{- $ret = string $ret.Output -}}
	<section id='{{- $i18n.Epilogue.ID -}}' class='inverted' style='
		margin-top: 10rem;
		background: url({{- $ret -}}),linear-gradient(to top,#010329,#000005)
				no-repeat
				fixed;
		background-position: center center;
		background-size: cover;
		padding-bottom: var(--main-padding-top);
	'>
		<h2>{{- $i18n.Epilogue.Title -}}</h2>
		<p>{{- $i18n.Epilogue.Description -}}</p>
		<br/>
		{{- $ret = merge $Page (dict "Input" (dict "Data" $i18n.Epilogue.URL)) -}}
		{{- $ret = partial "hestiaURL/Sanitize" $ret -}}
		{{- $ret = string $ret.Output -}}
		<a href='{{- $ret -}}' class='button' style='
			--button-color: green;
		'>{{- $i18n.Epilogue.CTA -}}</a>
	</section>
</main>
{{ partial "common/footer.html" $Page }}
{{ partial "common/nav-prime.html" $Page }}
