{{- $Page := partial "Hestia/functions/data/Clean" . -}}
{{- $thumbnails := "/img/logo/zoralab-hestia-icon-1200x1200.svg" -}}
{{- $thumbnails = merge $Page (dict "Input" (dict "URL" $thumbnails)) -}}
{{- $thumbnails = partial "Hestia/functions/data/url/Init" $thumbnails -}}
{{- $thumbnails = string $thumbnails.Output -}}
{{- $url := false -}}


<main>
	<section id="introduction">
		<h1>{{- .Titles.Page -}}</h1>
		<p>{{- .Descriptions.Page.Pitch }} {{ .Descriptions.Page.Summary -}}</p>
	</section>


	<section id='packages'>
		<h2>Packages</h2>
		<p>Shop for the package you need.</p>
		<nav class='catalog' style='--h3-margin: 0;'>
			{{- range $i, $v := .Data.Page.Packages }}
			<figure class='card'>
				<picture>
					{{- $url = merge $Page
						(dict "Input"
						(dict "URL" "thumbnails-240x240.avif")) -}}
					{{- $url = partial "Hestia/functions/data/url/Init"
						$url -}}
					{{- $url = string $url.Output }}
					<source srcset='{{- $url }} 1x'
						type='image/avif'
						width='220' height='220'
						loading='lazy' />

					{{- $url = merge $Page
						(dict "Input"
						(dict "URL" "thumbnails-240x240.webp")) -}}
					{{- $url = partial "Hestia/functions/data/url/Init"
						$url -}}
					{{- $url = string $url.Output }}
					<source srcset='{{- $url }} 1x'
						type='image/webp'
						width='220' height='220'
						loading='lazy' />

					{{- $url = merge $Page
						(dict "Input"
						(dict "URL" "thumbnails-240x240.jpg")) -}}
					{{- $url = partial "Hestia/functions/data/url/Init"
						$url -}}
					{{- $url = string $url.Output }}
					<source srcset='{{- $url }} 1x'
						type='image/jpeg'
						width='220' height='220'
						loading='lazy' />

					<img alt='{{- $v.Version -}}'
						src='{{- $url -}}'
						width='220' height='220'
						loading='lazy' />
				</picture>

				<div class='content'>
					<h3><code>{{- $v.Version -}}</code></h3>
					<p>{{- $v.Summary -}}</p>
					<br/>
					<p>
						Affected Technologies:
						<br/>
						{{- range $j, $w := $v.Technologies }}
						{{- if $j -}}, {{ end -}}<code>{{- $w -}}</code>
						{{- end }}
					</p>
				</div>

				<div class='actions'>
					{{- $url = merge $Page
						(dict "Input" (dict "URL" $v.URL)) -}}
					{{- $url = partial "Hestia/functions/data/url/Init" $url -}}
					{{- $url = string $url.Output -}}
					<a href='{{- $url -}}' class='button'>DETAILS</a>
				</div>
			</figure>
			{{- end }}
		</nav>
	</section>


	<section id="executions">
		<h2>Release Executions</h2>
		<p style='text-align: center;'>
			Our ZORALab's Hestia's development cycles and schedules.
		</p>
	</section>


	<section id='schedules'>
		<h3>Schedules</h3>
		<p>We're commited to:</p>
		<ol>
			<li><p>
				Release <b>at least 1 package/year</b>.
			</p></li>
			<li><p>
				Preferbly <b>December, before Chirstmas and
				New Year festive seasons</b>.
			</p></li>
			<li><p>
				<b>May perform ad-hoc emergency (usually minor)
				releases for security related</b> patches.
			</p></li>
		</ol>
	</section>


	<section id='strategies'>
		<h3>Strategies</h3>
		<p>
			Our packages and development strategies relies heavily
			on:
		</p>
		<ol>
			<li><p>
				Forward moving timeline similar to how Debian
				OS manages their releases. Currently, <b>we
				maintain <code>experimental</code>,
				<code>testing</code>, and <code>stable</code>
				branches and commit version tagging</b>.
			</p></li>
			<li><p>
				At the moment, <b>long-term support is
				unavailable due to resources constraints</b>. We
				encourage our customers to update towards the
				latest from time to time.
			</p></li>
			<li><p>
				<b>Backward compatible modularization</b>. We
				modularlize all components down the base module
				so that we can deprecate things without being
				constraint by namespace conflicts.
			</p></li>
			<li><p>
				<b>Use of <code>X_</code> or <code>x_</code>
				prefix for experimentals</b>. We do ship
				experimentals products alongside main products
				for external end-user testing and gathering
				feedbacks.
			</p></li>
			<li><p>
				<b>Extremely in love with small and single
				purpose (but a lot of) patches</b> for easier
				reviewability and communications.
			</p></li>
		</ol>
	</section>


	<section id='epilogue'>
		<h2>Still Stuck?</h2>
		<p>
			Feel free to contact us at our <a
			href='https://github.com/ZORALab/Hestia/issues'>GitHub
			Issues Portal</a>.
		</p>
	</section>
</main>
