{{- $Page := . -}}
{{- $thumbnail := "" -}}
{{- $fallback := "" -}}
{{- $description := "" -}}




{{- range $i, $v := .Data.Page.Business }}
	{{- $thumbnail = merge $Page (dict "Input" (dict "URL" $v.Thumbnail)) -}}
	{{- $thumbnail = partial "Hestia/functions/data/url/Init" $thumbnail -}}
	{{- if $thumbnail.Console -}}
		{{- $thumbnail = "" -}}
	{{- else -}}
		{{- $thumbnail = string $thumbnail.Output -}}
	{{- end -}}


	{{- $fallback = merge $Page (dict "Input" (dict "URL" $v.Fallback)) -}}
	{{- $fallback = partial "Hestia/functions/data/url/Init" $fallback -}}
	{{- if $fallback.Console -}}
		{{- $fallback = "" -}}
	{{- else -}}
		{{- $fallback = string $fallback.Output -}}
	{{- end -}}


	{{- $description = strings.TrimSuffix "." $v.Description -}}


	<div class='row' style='margin-bottom:5rem;--grid-column-margin: auto;'>
		<div class='column'>
			<picture class='column'>
				<source srcset='{{- $thumbnail -}}'
					media='(max-width: 280px)'
					width='224'
					height='224'
					type='{{- $v.ThumbnailType -}}' />
				<source srcset='{{- $thumbnail -}}'
					media='(max-width: 400px)'
					width='300'
					height='300'
					type='{{- $v.ThumbnailType -}}' />
				<source srcset='{{- $thumbnail -}}'
					media='(min-width: 401px)'
					width='400'
					height='400'
					type='{{- $v.ThumbnailType -}}' />
				<source srcset='{{- $fallback -}}'
					media='(max-width: 280px)'
					width='224'
					height='224'
					type='image/jpeg' />
				<source srcset='{{- $fallback -}}'
					media='(max-width: 400px)'
					width='300'
					height='300'
					type='image/jpeg' />
				<source srcset='{{- $fallback -}}'
					media='(min-width: 401px)'
					width='400'
					height='400'
					type='image/jpeg' />
				<img src='{{- $fallback -}}'
					width='400'
					loading='lazy'
					alt='{{- $v.Reason -}}' />
			</picture>
		</div>

		<div class='column' style='--grid-column-width:60%;'>
			<h3 style='margin-top:0;'>{{- $v.Reason -}}</h3>
			<p>{{- $description }} — <b>{{- $v.Outcome -}}</b></p>
		</div>
	</div>
{{- end }}
