{{- $Page := partial "Hestia/functions/data/Page" . -}}

<html {{ $Page.Languages.Current.Code }}>
<head>
	{{- partial "Hestia/functions/render/html/meta/Title" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Description" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Keywords" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Robots" $Page -}}
</head>
<body>
	<main>
		{{- $Page.Content.Rendered -}}
	</main>
	{{- partial "Hestia/functions/render/html/debug/Page" $Page -}}
</body>
</html>
