{{- $Page := partial "Hestia/functions/data/Page" . -}}

<!DOCTYPE html>
<html lang="{{- $Page.Languages.Current.Code -}}">
<head>
	<meta charset="UTF-8" />
	{{- partial "Hestia/functions/render/html/meta/Title" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Favicons" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Robots" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Redirect" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/Title" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/Site-Name" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Keywords" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Formats" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Alternate-Languages" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/Locale" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/Locale-Alternate" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/Description" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/Description" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/Thumbnails" $Page -}}
	{{- partial "Hestia/functions/render/html/meta/open-graph/URL" $Page -}}
	{{- /* Prevent new line clean up */}}
</head>
<body>
	{{- partial "Hestia/functions/render/html/Content" $Page -}}
	{{- partial "Hestia/functions/render/html/debug/Init" $Page -}}
	{{- /* Prevent new line clean up */}}
</body>
</html>
